/*common css*/

.stepPage {
    display: none;
    height: 100%;
}

.stepCont {
    width: 100%;
    padding-top: 6px;
    padding-left: 15px;
}

.ystep-container {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Wenquanyi Micro Hei", "Microsoft Yahei", Arial, sans-serif;
    display: inline-block;
    position: relative;
    color: #000;s
    margin: 20px;
}

.ystep-container ul {
    list-style: none;
}

.ystep-container ul,
.ystep-container li,
.ystep-container p {
    margin: 0;
    padding: 0;
}


/*size css*/

.ystep-lg {
    /*width: 700px;*/
    width: 100%;
    height: 60px;
    font-size: 18px;
    /*left: 15%;*/
    line-height: .3;
}


/*large size css*/

.ystep-lg .ystep-container-steps {
    position: absolute;
    top: 2px;
    cursor: pointer;
    z-index: 10;
}

.ystep-lg li {
    float: left;
    width: 100px;
    height: 85px;
    margin-right: 100px;
}

.ystep-lg .ystep-step-done {
    background-position: -278px -132px;
}

.ystep-lg .ystep-step-undone {
    background-position: -137px -131px;
}

.ystep-lg .ystep-step-active {
    background-position: -414px -131px;
}

.ystep-lg .ystep-progress {
    width: 400px;
    height: 10px;
    position: absolute;
    top: 30px;
    left: 15px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.ystep-lg .ystep-progress-bar {
    width: 400px;
    height: 20px;
    background: #e4e4e4;
    display: inline-block;
    float: left;
}

.ystep-lg .ystep-progress-highlight {
    height: 20px;
    display: block;
}


/*blue css*/

.ystep-blue .ystep-step-done {
    background-image: url("../images/pointes_blue.png");
    background-repeat: no-repeat;
}

.ystep-blue .ystep-step-undone {
    background-image: url("../images/pointes_blue.png");
    background-repeat: no-repeat;
    color: #9c9a9b;
}

.ystep-blue .ystep-step-active {
    background-image: url("../images/pointes_blue.png");
    background-repeat: no-repeat;
    color: #3276b1;
}

.ystep-blue .ystep-progress-highlight {
    background: #60baff;
}


/*峰*/

.ystep {
    padding: 20px;
    /*min-width: 1114px;*/
}

.step-button {
    position: relative;
    /*top: -85px;*/
}

.step-button button {
    margin: 15px;
}
/* 事件流程*/
#ystep{
	position:absolute;
	left:450px;
	top:100px;
	width:550px;
	height:350px;
	border-radius:15px;
	border-top-right-radius: 20px;
	background-color:#f7f7f7;	
	overflow:hidden;
	display:none;
	z-index:999;
}
#ystep .option-top{
	width:100%;
	height:30px;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	background-image: url(../images/menu-top.png);
	background-size: cover;
	ilter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='http://localhost:8080/hydg/images/menu-top.png', sizingMethod='scale');
}
#ystep .option-body{
	height:325px;
	overflow-y: auto;
    overflow-x:hidden;
}
#ystep .option-top span{
	display: inline-block;
    font-size: 16px;
    color: white;
    line-height: 30px;
    padding-left: 10px;
}
#ystep .option-top img{
	float: right;
    width: 15px;
    padding: 9.5px 10px 0 0;
    height: 15px;
    cursor: pointer;
}
#ystep .step-option{
	padding:5px 30px;
}
#ystep table{
	width:100%;
}
#ystep table td{
	padding:5px;
}
#ystep table .left{
	text-align:left;
	width:380px;
}
#ystep table .right{
	text-align:right;
	width:100px;
}
/* 滚动条 */

#scroll{
    height: 91%;
    overflow-y: auto;
    overflow-x:hidden;
}
.zUIpanelScrollBox,
.zUIpanelScrollBar {
    width: 10px;
    top: 4px;
    right: 2px;
    border-radius: 5px;
}

.zUIpanelScrollBox {
    background: transparent;
    opacity: 0.1;
    filter: alpha(opacity=10);
    z-index: 1000;
}

.zUIpanelScrollBar {
    background: black;
    opacity: 0.6;
    filter: alpha(opacity=80);
    z-index: 1000;
}
/*  */