/*浣跨敤閲戝緛鏀剁鐞�/
.place {
	height: 40px;
	background: url(../../images/seasProfession/righttop.gif) repeat-x;
}

.place span {
	line-height: 40px;
	font-weight: bold;
	float: left;
	margin-left: 12px;
}

.placeul li {
	float: left;
	line-height: 40px;
	padding-left: 7px;
	padding-right: 12px;
	background: url(../../images/seasProfession/rlist.gif) no-repeat right;
}

.placeul li:last-child {
	background: none;
}

.rightinfo {
	padding: 8px;
}

.tools {
	clear: both;
	height: 35px;
	margin-bottom: 8px;
}

.toolbar {
	padding-left: 0px;
}

.toolbar li {
	background: url(../../images/seasProfession/toolbg.gif) repeat-x;
	line-height: 33px;
	height: 33px;
	border: solid 1px #d3dbde;
	float: left;
	padding-right: 10px;
	margin-right: 5px;
	border-radius: 3px;
	behavior: url(js/pie.htc);
	cursor: pointer;
}

.toolbar li span {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
}

.toolbar1 {
	float: right;
}

.toolbar1 li {
	background: url(../../images/seasProfession/toolbg.gif) repeat-x;
	line-height: 33px;
	height: 33px;
	border: solid 1px #d3dbde;
	float: left;
	padding-right: 10px;
	margin-left: 5px;
	border-radius: 3px;
	behavior: url(js/pie.htc);
}

.toolbar1 li span {
	float: left;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
}

.toolbar2 {
	margin: 18px 0px;
	height: 25px;
	background: url(../../images/seasProfession/toolbar3.png) repeat-x
}

.toolbar2 span {
	line-height: 25px;
	font-weight: bold;
	float: left;
	margin-left: 12px;
}

.tablelist {
	border: solid 1px #cbcbcb;
	width: 100%;
	clear: both;
}

.tablelist th {
	background: url(../../images/seasProfession/th.gif) repeat-x;
	height: 34px;
	line-height: 34px;
	border-bottom: solid 1px #b6cad2;
	text-indent: 11px;
	text-align: center;
}

.tablelist td {
	line-height: 35px;
	text-indent: 11px;
	border-right: dotted 1px #c7c7c7;
	text-align: center;
}

.tablelink {
	color: #056dae;
}

.tablelist tbody tr.odd {
	background: #f5f8fa;
}

.tablelist tbody tr:hover {
	background: #e5ebee;
}

.sort {
	padding-left: 3px;
}


/*page*/

.pagin {
	position: relative;
	margin-top: 10px;
	padding: 0 12px;
}

.pagin .blue {
	color: #056dae;
	font-style: normal;
}

.pagin .paginList {
	position: absolute;
	right: 12px;
	top: 0;
}

.pagin .paginList .paginItem {
	float: left;
}

.pagin .paginList .paginItem a {
	float: left;
	width: 31px;
	height: 28px;
	border: 1px solid #DDD;
	text-align: center;
	line-height: 30px;
	border-left: none;
	color: #3399d5;
}

.pagin .paginList .paginItem:first-child a {
	border-left: 1px solid #DDD;
}

.pagin .paginList .paginItem:first-child a {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.pagin .paginList .paginItem:last-child a {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.pagin .paginList .paginItem.current,
.pagin .paginList .paginItem.current a {
	background: #f5f5f5;
	cursor: default;
	color: #737373;
}

.pagin .paginList .paginItem:hover {
	background: #f5f5f5;
}

.pagin .paginList .paginItem.more,
.pagin .paginList .paginItem.more a:hover {
	cursor: default;
}

.pagin .paginList .paginItem.more:hover {
	background: #FFF;
}

.pagin .paginList .paginItem.more a {
	color: #737373;
}

.pagepre {
	background: url(../../images/seasProfession/pre.gif) no-repeat center center;
	width: 31px;
	height: 28px;
}

.pagenxt {
	background: url(../../images/seasProfession/next.gif) no-repeat center center;
	width: 31px;
	height: 28px;
}

.title .droplist ul {
	padding: 5px 10px 5px 50px;
}

.title .droplist ul li {
	display: block;
	padding: 3px 0px 3px 0px;
	clear: both;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	color: black;
	white-space: nowrap;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #eeeeee;
}
.title .droplist ul li:hover{
	color: #b7d5df;
	
}
